@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  max-width: 1640px;
  width: 100%;
  margin: 0 auto;
}

.about-header {
  background-color: palevioletred;
  transition: all 2s ease-in-out;
}
.about-header:hover {
  background-color: purple;
  padding: 10px;
}
.header img {
  width: 150px;
  animation: rotate 10s linear 1s;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header ul,
nav {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  gap: 30px;
}
.header a {
  color: black;
  transition: color 1s ease-in;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
header a:hover {
  color: blue;
}
li:nth-child(4) {
  background-color: azure;
  border-radius: 50px;
  padding: 2px 20px;
  border: 1px solid black;
  transition: background-color 2s linear;
}
li:nth-child(4):hover {
  background-color: blue;
}
li:nth-child(4) a {
  transition: color 2s linear;
}
li:nth-child(4):hover a {
  color: yellow;
}

.section img {
  width: 400px;
  object-fit: cover;
}
.section {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.coconut-image {
  border: 5px solid palevioletred;
  animation: coconutimage 5s ease-in-out 1s 2 alternate;
}
.suitcase-image {
  border: 5px solid palevioletred;
  animation: suitcaseimage 5s ease-in-out 1s 2 alternate;
}

.section-images {
  display: flex;
  justify-content: center;
}
.section-images img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid pink;
  margin-top: 50px;
  margin-bottom: 100px;
  transition: all 2s ease-out;
  box-shadow: 10px 10px 10px palevioletred;
}
.section-images img:hover {
  width: 400px;
  height: 350px;
}

.about-section h1 {
  font-size: 50px;
  text-align: center;
  letter-spacing: 5px;
  color: darkred;
  text-decoration-line: underline;
  text-shadow: 0 0 5px crimson, 0 0 10px crimson, 0 0 20px crimson,
    0 0 40px crimson, 0 0 80px crimson;
  animation: glow 2s linear infinite alternate;
}
.about-article {
  margin-bottom: 110px;
  position: relative;
}
.about-article img {
  width: 500px;
  height: 600px;
  object-fit: cover;
  border: 1px solid palevioletred;
}
.about-article p {
  width: 400px;
  position: absolute;
  bottom: 30px;
  background-color: white;
  padding: 5px;
  left: 50px;
  border: 2px dotted pink;
  box-shadow: -5px 5px 5px palevioletred;
  animation: slide-in 5s ease-in 5 alternate;
  font-family: "Oleo Script", system-ui;
  font-weight: 400;
  font-style: normal;
}
.about-article h2 {
  font-size: 40px;
  text-align: center;
  color: brown;
  text-shadow: 5px 5px 0 plum, 10px 10px 0 skyblue;
  animation: shadow-dance 4s infinite;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;
  margin-top: 70px;
}
.article-div {
  display: flex;
  justify-content: space-around;
}

.city-section p {
  width: 500px;
  align-self: center;
  font-size: 20px;
  font-weight: bold;
  border: 5px solid palevioletred;
  padding: 20px;
  line-height: 30px;
  transition: all 1s linear;
  font-family: "Tagesschrift";
}
.city-section p:hover {
  color: darkblue;
  border: 5px solid darkblue;
  transform: scale(1.2, 1.2);
}
.city-section p::first-letter {
  font-size: 50px;
  font-weight: bolder;
  color: crimson;
}
.city-section {
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
}
.berlin-image {
  background-image: url(../images/8470454d089ca5312435670376974ed1.jpg);
  width: 500px;
  height: 500px;
  background-size: cover;
  background-position: center;
  border: 5px solid palevioletred;
  border-radius: 10px;
  box-shadow: 10px 20px 20px pink;
  transition: transform 5s linear;
}
.berlin-image:hover {
  transform: rotate(360deg) scale(1.2, 1.2);
}
.barcelona-image {
  background-image: url(../images/4f30f3cf85b560cd907a7df42f09f127.jpg);
  width: 500px;
  height: 500px;
  background-size: cover;
  background-position: center top;
  border: 5px solid palevioletred;
  border-radius: 10px;
  box-shadow: -10px 20px 20px pink;
  transition: transform 5s linear;
}
.barcelona-image:hover {
  transform: rotate(360deg) scale(1.2, 1.2);
}

.cities h2 {
  text-align: center;
  line-height: 50px;
  letter-spacing: 5px;
  font-size: 30px;
  font-family: "Eczar", serif;
  color: crimson;
}
.cities p {
  font-size: 20px;
  line-height: 30px;
  padding: 10px;
  width: 1400px;
  margin: 0 auto;
  border: 5px dotted purple;
  border-radius: 30px;
  margin-bottom: 40px;
  color: crimson;
  font-family: "Eczar", serif;
  transition: all 1s linear;
}
.cities p:hover {
  border: 5px dotted crimson;
  color: purple;
  transform: skew(10deg);
}

.about-footer {
  background-color: palevioletred;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 250px;
}
.about-footer h2 {
  font-size: 40px;
  margin-bottom: 5px;
  color: darkred;
  transition: color 1s ease-in;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.about-footer:hover h2 {
  color: darkblue;
}
.about-footer a {
  color: darkred;
  font-size: 30px;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: color 1s ease-in;
}
.about-footer:hover a {
  color: darkblue;
}
.about-footer ul {
  list-style: disc;
  color: darkred;
  transition: color 1s ease-in;
}
.about-footer:hover ul {
  color: darkblue;
}
